@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin:0;
    /* font-family: 'Open Sans', sans-serif;*/
}
/* header */

#header{
    position: fixed;
    top:0px;
    width: 100%;
    height: 70px;
    background-color: white;
    z-index: 12;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
}
#header .search{
    display: flex;
    justify-content: center;
    padding: 12px 20px 12px 40px;
    position: fixed;
    width: 500px;
    left: 500px;
    top: 10px;
}

#header .search input{
        width: 500px;
        box-sizing: border-box;
        border: 2px solid #3badfc;
        border-radius: 30px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        position: fixed;
        left: 500px;
        top: 10px;
}
#header .search i{
        font-size: large;
        padding-left: 400px;
        position: fixed;
        padding-top: 4px;
}

#header .logo{
    display: flex;
    justify-content: start;
    max-width: 700px;
}
#header .logo .shop .logo-name
{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    padding-left: 40px;
    padding-top: 10px;
    height: 10px;
    display: block;
}
#header .logo .shop .logo-name span p{
    margin:0;
    color: #3badfc;
}

#header .logo .shop .team-name{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding-left: 100px;
    padding-top: 35px;
}
#header .logo .shop .team-name span p{
    margin:0;
}

#header .login{
    display: flex;
    /* justify-content: flex-end; */
    position: fixed;
    width: 200px;
    right: 30px;
    top: 25px;
}
#header .login a{
    padding-left: 15px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-decoration: none;
}
#header .login i 
{
    font-size: 25px;
    padding-left: 0px;
    display: block;
}

/*header end*/

#menu{
    position: relative;
    background-color: #e9ebee;
    margin-top: 70px;
    width: 100%;
    height: 1700px;
}

#menu .container{
    padding-top: 5px;
    margin: 0 auto;
    width: 1160px;
    height: 100%;
}

/* Side-bar*/
.side-bar{
    float: left;
    width: 200px;
    margin-left: 0;
    height: auto;
    background-color:#fff;
    z-index: 1;
    list-style : none;
    padding-top: 1%;

}
.side-bar ul
{
    margin: 0;
    list-style: none;
    padding: 0;
}

.side-bar ul li
{
    margin-bottom: 15px;
    line-height: 30px;
    border-bottom: 1px solid #3badfc;
    transition: all 0.7s ease;
}
.side-bar ul li a{
    text-decoration: none;
    color: #0784b5;
    font-size: 20px;
    padding: 0 20px;
}
.side-bar ul li:hover
{
    padding-left: 10px;
}
#menu .container .contact{
    padding-left: 20px;
}

/* Side-bar End*/

/* slide-show */
#slide-show{
    float: right;
    width: 945px;
    max-width:945px;
    height: 350px;
    border: 3px solid #3badfc;
    overflow: hidden;
}

#slide-show .slides .item img{
    width: 100%;
    display: block;
}

#slide-show .slides .item{
    display: none;
}

#slide-show .slides .item.active{
    display: block;
    animation: zoomOut 5s ease;

}

@keyframes zoomOut{

    from{
        transform: scale(1.1); 
    }
    to{
        transform: scale(1); 
    }
    
}

/* slide-show end*/

/* product */
#product{
    margin-top: 10px;
    width: 945px;
    float: right;
    height: auto;
    background-color: #fff;
    border: 0.5px solid #3badfc;
}

#product .product-title{
    margin: 0;
    width: 100%;
    height: 35px;
    background-color: #3badfc;
}

#product .product-title span p{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding-top: 4px;
    padding-left: 10px;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
}

#product .row .item{
    margin: 15px 0 5px 17px;
    padding: 15px 20px 0 20px;
    display: inline-block;
    transition: all 0.5s ease;
}

#product .row .item:hover{
    box-shadow: 1px 1px 3px 3px rgba(0.3, 0.3, 0.3, 0.3);
}

#product .row .item .element{
    text-decoration: none;
}
#product .row .item .element .product-image{
    width: 250px;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#product .row .item .element .product-image img{
    padding-top: 10px;
    /* width: 100%; */
    max-width:100% ;
    margin: 0 auto; 
    display: block; 
}

#product .row .item .element .product-name span p{
    height: 80px;
    max-width: 240px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 18px;
    margin-top: 10px;
}

#product .row .item .element .product-price span p{
    font-family: 'Open Sans', sans-serif;
    color: #333;
    height: 40px;
    font-weight: 1000;
    margin:0;
}

/* product end */

/* footer */
#footer{
    position: relative;
    height: 260px;
    width: 100%;
    background-color: #fff;
    border-top: #fff;
    display: block;
}

#footer .row{
    width: 100%;
    height: 70px;
    background-color: #fbfafd;
    border-bottom: 1px solid #e8e8e8;
    border-top: 3px solid #3badfc;
}
#footer .row .row-content{
    width: 1160px;
    margin: 0 auto;
    border-left: 1px solid #e8e8e8;
    height: 67px;
    display: flex;
    flex-direction: row;
}
#footer .row .row-content .item{
    font-family: 'Roboto',sans-serif;
    color: #3badfc;
    font-size: medium;
    font-weight: 700;
    border-right: 1px solid #e8e8e8;
    width: 290px;
    height: 67px;
    display: flex;
    align-items: center;
    /* justify-self: center; */
    padding: 0 65px;
}
#footer .row .row-content .item .fas,.fab{
    font-size: 45px;
    color: #3badfc;
    margin-right: 15px;
}

#footer .block{
    margin: 0 auto;
    height: auto;
    width: 1160px;
    display: flex;
    flex-direction: row;
}
#footer .block .ft{
    height: 190px;
    width: 290px;
    margin: 0;
    padding-left: 5px;
}
#footer .block .ft a,li{
    color: #373737;
    line-height: 25px;
    text-decoration: none;
    list-style-type: none;
}
#footer .block h4{
    color: #f0cf00;
}

#footer .content
{

}

#footer .block .content span p
{
    font-size: 18px;
}
#footer ul{
    padding: 0;
}

#footer .support
{
    font-size: 13px;
}
#footer .support p
{
    color: #fff;
    line-height: 1.5;
}

#footer .km
{
    font-size: 13px;
}

#footer .contact
{
    justify-content: end !important;
    font-size: 13px;
}



/* footer end */